extends layout

block content
 div(class="font-semibold text-gray-500 text-center justify-center flex flex-wrap py-4")
  a(href="https://linkedin.com/in/smitpatelx/" class="w-full text-primary-600 hover:text-primary-400") Name Required to test chat

 chat-box